@charset "UTF-8";
.box1{
	padding:20px;
	margin-left:10px;
	background:#ffd800;
	float:left;
}
.box2{
	background:#0094ff;
	padding:20px;
	margin-left:10px;
	float:left;
}
.box3{
	background: #00ff21;
	padding:20px;
	float:left;
}
.box4{
	background:#ffffff;
	padding:20px;
	float:right;
	border:1px solid black;
}