@charset "UTF-8";
*{
	margin: 20px auto; /*내용을 화면 중앙에 배치  */
}

body{
	color:blue;
}

#container{
	width: 600px;
	padding: 15px;
	border: 1px dotted gray;
}

h2{
	color: brown !important;
}